.article *+:not(p) {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

main *+* {
    margin-top: 1.5em;
}

$initialHeadingSize: 16;
$scale: 1.4;
$headings: (h4, h3, h2);

@each $heading in $headings {
  #{$heading} {
    $scaledSize: $initialHeadingSize*$scale;
    font-size: em($scaledSize);

    $initialHeadingSize: $scaledSize;
  }
}

.blog {
  ol, ul {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  position: relative;
  min-height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 6.25rem;
  overflow-x: hidden;

  p {
    font-size: 1.15rem;
  }

  ol {
    list-style-position: inside;
    list-style-type: upper-roman;
  }

  @media (--tablet) {
    padding: 7.5rem 0;
  }

  @media (--desktop) {
    padding: 7.5rem 2.5rem 6.5vw;

    &--reading {
      padding-bottom: 0;

      .preview {
        &__title, &__meta {
          opacity: 0;
        }

        &__title {
            background-color: transparent;
        }
      }



    }
  }

  @media (--monitor) {
    padding: 7.5rem 0 6.5vw;

    &--reading {
      padding-bottom: 0;
    }
  }

  &__feed {
    position: relative;
    padding: 0 .625rem;

    @media (--tablet) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 1.25rem;
    }

    @media (--monitor) {
      padding: 0;
    }
  }

  &__footer {
    background: linear-gradient(to top, darken(#5285c4, 15%) 0%, #5285c4 100%) darken(#5285c4, 15%);
    color: #fff;
    font-size: 1.1em;
    width: 100%;
    position: relative;
    padding: 3.5rem 1.5rem 4rem 2.5rem;

    @media (--monitor) {
      padding: 3.5rem 5rem 4.5rem 6.25rem;
    }

    .signature {
      display: inline-block;
      width: 15rem;

      @media (--tablet) {
        width: 18rem;
      }
    }
  }
}
